src/webapp/data/node-red/flows.json
[{"id":"8a1e1f.e5bd01e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"69e8c1da.f4c3d","type":"mqtt-broker","name":"TTN EU","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fc27b47.c0bd448","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"iot","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://influxdb:8086","rejectUnauthorized":true},{"id":"d50d0c9f.31e858","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"56fba240.f700bc","type":"mqtt in","z":"8a1e1f.e5bd01e","name":"TTN EU","topic":"APP-ID/devices/#","qos":"0","datatype":"auto","broker":"69e8c1da.f4c3d","x":50,"y":20,"wires":[["f533031b.35f29","25f7a493.3039bc"]]},{"id":"4afbf325.ccc0fc","type":"influxdb out","z":"8a1e1f.e5bd01e","influxdb":"fc27b47.c0bd448","name":"Save to DB","measurement":"fireplace","precision":"","retentionPolicy":"","database":"iot","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":850,"y":100,"wires":[]},{"id":"ca3877d6.423208","type":"function","z":"8a1e1f.e5bd01e","name":"Format for DB","func":"msg.payload = [\n    {\n        value: msg.payload.payload_raw,\n    },\n    {\n        device: msg.payload.dev_id,\n    }\n];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":140,"wires":[["f533031b.35f29","31524f62.832b8","b505d798.a58868","4afbf325.ccc0fc"]]},{"id":"b505d798.a58868","type":"uibuilder","z":"8a1e1f.e5bd01e","name":"","topic":"","url":"uibuilder","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":840,"y":260,"wires":[[],["230a7096.fff6f"]]},{"id":"7c8735e5.622bcc","type":"switch","z":"8a1e1f.e5bd01e","name":"ui ctrl","property":"uibuilderCtrl","propertyType":"msg","rules":[{"t":"eq","v":"ready for content","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":490,"y":260,"wires":[["6438e448.6b1bec"]]},{"id":"230a7096.fff6f","type":"link out","z":"8a1e1f.e5bd01e","name":"ready for content","links":["6be7dde6.57c594"],"x":955,"y":260,"wires":[]},{"id":"6be7dde6.57c594","type":"link in","z":"8a1e1f.e5bd01e","name":"","links":["230a7096.fff6f"],"x":395,"y":260,"wires":[["7c8735e5.622bcc"]]},{"id":"6438e448.6b1bec","type":"change","z":"8a1e1f.e5bd01e","name":"","rules":[{"t":"set","p":"status","pt":"msg","to":"status","tot":"global"},{"t":"delete","p":"uibuilderCtrl","pt":"msg"},{"t":"delete","p":"from","pt":"msg"},{"t":"delete","p":"cacheControl","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":260,"wires":[["b505d798.a58868"]]},{"id":"5681d7be.cbb148","type":"json","z":"8a1e1f.e5bd01e","name":"","property":"payload","action":"obj","pretty":false,"x":190,"y":140,"wires":[["e37c029.4b572"]]},{"id":"f533031b.35f29","type":"debug","z":"8a1e1f.e5bd01e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":20,"wires":[]},{"id":"757a2f82.b0ffc","type":"inject","z":"8a1e1f.e5bd01e","name":"on startup","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","x":90,"y":340,"wires":[["a6916d4.68dc29"]]},{"id":"25f7a493.3039bc","type":"switch","z":"8a1e1f.e5bd01e","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"/up","vt":"str"},{"t":"cont","v":"activation","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":50,"y":180,"wires":[["5681d7be.cbb148"],[]],"outputLabels":["uplink","activation"]},{"id":"31524f62.832b8","type":"function","z":"8a1e1f.e5bd01e","name":"Save to global","func":"var status = global.get('status') || {};\nstatus[msg.payload[1].device] = msg.payload[0].value;\nglobal.set('status', status)","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":180,"wires":[[]]},{"id":"e37c029.4b572","type":"switch","z":"8a1e1f.e5bd01e","name":"payload_raw","property":"payload.payload_raw","propertyType":"msg","rules":[{"t":"eq","v":"AA==","vt":"str"},{"t":"eq","v":"AQ==","vt":"str"},{"t":"eq","v":"Ag==","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":330,"y":140,"wires":[["ec773cb6.05547"],["edcd0d3f.28ebd"],["286bda68.86d9e6"]],"outputLabels":["0","1","2"]},{"id":"ec773cb6.05547","type":"change","z":"8a1e1f.e5bd01e","name":"set: 0","rules":[{"t":"set","p":"payload.payload_raw","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":100,"wires":[["ca3877d6.423208"]]},{"id":"edcd0d3f.28ebd","type":"change","z":"8a1e1f.e5bd01e","name":"set: 1","rules":[{"t":"set","p":"payload.payload_raw","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":140,"wires":[["ca3877d6.423208"]]},{"id":"286bda68.86d9e6","type":"change","z":"8a1e1f.e5bd01e","name":"set: 2","rules":[{"t":"set","p":"payload.payload_raw","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":180,"wires":[["ca3877d6.423208"]]},{"id":"a6916d4.68dc29","type":"influxdb in","z":"8a1e1f.e5bd01e","influxdb":"fc27b47.c0bd448","name":"Get latest from DB","query":"select * from (select last(*) from fireplace group by device) group by device","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":290,"y":340,"wires":[["992b8178.44fdf"]]},{"id":"992b8178.44fdf","type":"function","z":"8a1e1f.e5bd01e","name":"Save latest to global","func":"var status = {};\nmsg.payload.forEach(function(e) {\n    status[e.device] = e.last_value;\n});\nglobal.set('status', status);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":340,"wires":[[]]}]